table {
    width: 75%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    margin: 1%;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
.button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
.edit {
    background-color: #127619;
}
.delete {
    background-color: #f44336;
}
.add-button {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 40px;
    background-color: #008CBA; /* Azul */
    color: white;
    border: none;
    cursor: pointer;
}
.div_button{
    margin: 50px;
}
.box_img{
    text-align: center;
}

.img_admin{
    width: 35%;
}


.form-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título del formulario */
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo de los grupos de formulario */
.form-group {
    margin-bottom: 15px;
}

/* Etiquetas de los campos */
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

/* Campos de entrada */
.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Botón de envío */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}