
* {
  background-color: #1F2429;  
  color: white;
}
table {
    width: 75%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2px solid #4741d7;
}



.navbar{
    border: 2px solid #4741d7;
}


h1{
    text-align: center;
    margin: 1%;
}
th, td {
    border: 2px solid #4741d7;
    padding: 10px;
    text-align: left;
} 
.button {
   display: flex;
   flex-direction: column;
   padding: 8px 12px;
   margin-bottom: 10px;
   border: none;
   color: white;
   cursor: pointer; 
   text-decoration: none;
}


.ov-btn-slide-close {
    background: #fff;
    color: #4741d7; 
    border: 2px solid #4741d7; 
    padding: 16px 90px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-slide-close:before, .ov-btn-slide-close:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: #4741d7; 
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .ov-btn-slide-close:after {
    left: 100%;
  }
  .ov-btn-slide-close:hover {
    color: #fff; 
  }
  .ov-btn-slide-close:hover:before {
    left: 0;
  }
  .ov-btn-slide-close:hover:after {
    left: 50%;
  }



.ov-btn-grow-box {
    background: #fff;
    color: #4741d7; 
    border: 2px solid #4741d7;
    padding: 16px 90px;
    margin-left: 15%;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-box:hover {
    color: #fff;
  }
  .ov-btn-grow-box::after {
    content: "";
    background: #4741d7;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-box:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
  }

  .ov-btn-grow-box-1 {
    background: #fff; 
    color: #4741d7; 
    border: 2px solid #4741d7; 
    padding: 16px 116px;
    margin-left: 15%;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
  }
  .ov-btn-grow-box-1:hover {
    color: #fff;
  }
  .ov-btn-grow-box-1::after {
    content: "";
    background: #4741d7;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-box-1:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
  }

.ov-btn-grow-skew-1 {
    background: #fff; 
    color: #4741d7; 
    border: 2px solid #4741d7; 
    padding: 16px 20px;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-skew-1:hover {
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-decoration: none;

  }
  .ov-btn-grow-skew-1::after {
    content: "";
    background: #29267e; 
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;

  }
  .ov-btn-grow-skew-1:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);

  }


.ov-btn-grow-skew {
    background: #fff; 
    color: #4741d7; 
    border: 2px solid #4741d7; 
    padding: 16px 20px;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-skew:hover {
    color: #fff;
    text-decoration: none;
  }
  .ov-btn-grow-skew::after {
    content: "";
    background: #4741d7;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }

.ov-btn-grow-spin {
    background: #fff; 
    color: #4741d7; 
    border: 2px solid #4741d7; 
    padding: 16px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
  }
  .ov-btn-grow-spin:hover {
    color: #fff;
  }
  .ov-btn-grow-spin::after {
    content: "";
    background: #4741d7;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0) rotate(-180deg);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-spin:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1) rotate(0deg);
  }

.edit {
    background-color: #127619;
}
.delete {
    background-color: #f44336;
}

.TDbutton{
text-align: center;
height: 100%;
}
.add-button {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 40px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}
.div_button{
    display: flex;
        margin: 50px;
        justify-content: center;
}
.box_img{
    text-align: center;
}

.img_admin{
    width: 35%;
}


.form-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #4741d7;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
